<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- 背景动画 以及初始化样式 -->
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../css/demo.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../css/doc_ligature.css" />
		<!-- 导入vue.js -->
		<script type="text/javascript" src="../js/vue.js"></script>
		<!-- 引入jQuery.js -->
		<script src="../js/jquery/jquery.min.js"></script>
	</head>
	<body>
		<!-- 背景 -->
		<div class="satic-area">
			<div class="dynamic-area1"></div>
			<div class="dynamic-area2"></div>
		</div>
		<div id="content">
			<div class="scale">
				<div class="cdt-menu">
					<span class="cdt">A部分练习</span>
					<span class="cdt">A部分测试</span>
					<span class="cdt">B部分练习</span>
					<span class="cdt">B部分测试</span>
				</div>
		
				<div class="scale-right" id="scale-right">
					<div id="scale-name">量表名称：连线测验（{{name}}）</div>
					<div class="scale-right-content content1">
						<div class="content-title">使用方法</div>
						<div class="question-content">
							<ul id="use-method">
								<li v-for="item in methods">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item}}</li>
							</ul>
						</div>
					</div>
		
					<div class="scale-right-content  content2">
						<div class="content-title">患者绘图结果展示</div>
						<!-- 动态展示用户画板 -->
						<div class="re-img">
							<img id="re-img" />
						</div>
		
					</div>
				</div>
				<div class="scale-left">
		
					<div class="scale-check  content1" onclick="checkScore()">查看患者绘图并打分>></div>
					<div class="scale-check  content2" onclick="createReport()">
						生成报告>>
					</div>
					<button class="back" onclick="backPage()">返回</button>
					<div class="scale-content  content1">
						<div class="content-title">量表说明</div>
						<ul id="scale-list">
							<li v-for="item in scale_explain">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.value}}</p>
							</li>
						</ul>
					</div>
		
		
					<div class="scale-content  content2">
						<div class="content-title">
							注意事项
						</div>
						<ul class="options">
							<li >
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
							</li>
							
						</ul>
						<div class="test-data">
							<span id="do-time">完成时长:{{data}}</span>
							<span id="do-score">
								评判得分:{{data}}
							</span>
						</div>
		
					</div>
		
				</div>
			</div>
			<canvas id="" width="" height="" style="display: none;"></canvas>
		</div>
	</body>
	<script>
		
		$(document).ready(function() {
			$.ajax({
				type: 'GET',
				url: 'http://localhost:80/scales/testMsg/' + 20,
				success: function(e) {
					console.log(e.object)
					all_test = e.object.slice(0, e.object.length);
				},
				error: function() {
	
				}
			})
	
			let s;
			let scale;
			//检测内容是否发送过来
			try {
				s = storage.getItem("scale").items;
				for (let i = 0; i < s.length; i++)
					if (s[i].aiScaleId == 20) {
						scale = s[i];
						
						break
					}
	
			} catch (e) {
				console.log('出错了')
				return
			}
			let p = [];
			let f = "";
			let f2 = "";
			let p2 = [];
			//处理量表描述 and 量表用法
			try {
				//描述
				for (let i = 0; i < scale.aiScaleOverview.length; i++) {
					if (scale.aiScaleOverview[i] == '&') {
						p.push(f);
						f = "";
					} else {
						f += scale.aiScaleOverview[i];
					}
	
				}
				//用法
				for(let i=0;i<scale.aiScaleNotice.length;i++){
					if (scale.aiScaleNotice[i] == '&') {
						p2.push(f2);
						f2 = "";
					} else {
						f2 += scale.aiScaleNotice[i];
					}
				}
			} catch (e) {
				console.log('出错')
				//TODO handle the exception
			}
	
			p.push(f);
			p2.push(f2)
			//添加量表说明
			for (let j = 0; j < p.length; j++) {
				let obj = {};
				obj.value = p[j];
				scale_explain.push(obj);
			}
			for(let j=0;j<p2.length;j++){
				let obj ={};
				obj.value = p2[j];
				user_methods.methods.push(obj) //methods.push(obj);
			}
			
			//顶部按钮点击事件
			for (let i = 0; i < cdt.length; i++)
				cdt[i].onclick = function() {
					//设置样式
					for(let r=0;r<cdt.length;r++){
						cdt[r].style.backgroundColor = "burlywood"
					}
					this.style.backgroundColor = "rosybrown"
					//加载注意事项和指导语
					
					for (let k = 0; k < all_test.length; k++) {
						
					}
					
				}
	
			if(!scale)
			alert("系统错误");
			console.log(methods,'===',scale_explain)
	
		})
	
		/**
		 * 封装的localStorage
		 */
	
		class Storage {
			constructor(arg) {
				this.name = 'storage';
			}
			//设置缓存
			setItem(key, value, expires) {
				let obj = {
					key: key,
					value: value,
					expires: expires, //过期时间
					startTime: new Date().getTime() //记录缓存存入时间，毫秒级
				};
				let options = {};
	
				//对象合并
				Object.assign(options, obj);
	
				if (options.expires) {
					//如果设置了过期时间
					localStorage.setItem(options.key, JSON.stringify(options));
				} else {
					//如果没有设置过期时间,获取value的对象类型
					let type = Object.prototype.toString.call(options.value);
	
					//如果是对象或者数组需要转为JSON字符串
					if (type == '[object Object]')
						options.value = JSON.stringify(options.value);
					if (type == '[object Array]')
						options.value = JSON.stringify(options.value);
	
					localStorage.setItem(options.key, options.value);
				}
			}
	
			//取出缓存
			getItem(key) {
				var item = localStorage.getItem(key);
				try {
					item = JSON.parse(item); //如果是JSON类型就转变为对象,一般用于封装存储
				} catch (e) {
					item = item; //如果不是JSON类型就直接返回值，没有封装存储
				}
	
				//判断是否设置了过期时间，通过封装存储的才有过期时间
				if (item)
					if (item.startTime && item.expires) {
						let date = new Date().getTime();
						if (date - item.startTime > item.expires) {
							localStorage.removeItem(key)
							return false;
						} else {
							return item.value
						}
					} else {
						//返回未经过封装的对象
						return item
					}
			}
			removeItem(key) {
				localStorage.removeItem(key);
			}
			clear() {
				localStorage.clear();
			}
		}
	
		var storage = new Storage();
	
	
		var cdt = document.getElementsByClassName('cdt');
	
		//所有题目信息
		var all_test = [];
	
		//量表说明数据包
		var scale_explain = [];
	
		//评分方式数据包
		var methods = [];
		
		//指导语数据包
		var guids = [];
		
		//评分方式控制
		var user_methods = new Vue({
			el:'#use-method',
			data:{
				methods
			}
		})
		//时间控制
		var do_time=new Vue({
			el: '#do-time',
			data: {
				data: 0
			}
		});
		
		//量表说明控制
		var scale_list = new Vue({
			el: '#scale-list',
			data: {
				scale_explain
			}
		})
		
		//练习名称控制
		var scale_name = new Vue({
			el: '#scale-right',
			data: {
				name: 'A部分练习'
			}
		});
		
	
		/**
		 * 为选项列表添加事件
		 */
	
	
		/**
		 * 切换窗口
		 */
		function checkScore() {
			let a = document.getElementsByClassName('content1');
			let b = document.getElementsByClassName('content2');
			for (let i = 0; i < a.length; i++) {
				b[i].style.display = getComputedStyle(a[i], null).getPropertyValue('display');
				a[i].style.display = 'none';
			}
			document.getElementsByClassName('back')[0].style.display = 'initial';
		}
		/**
		 * 返回上一层
		 */
		function backPage() {
			document.getElementsByClassName('back')[0].style.display = 'none';
			let a = document.getElementsByClassName('content1');
			let b = document.getElementsByClassName('content2');
			for (let i = 0; i < a.length; i++) {
				a[i].style.display = getComputedStyle(b[i], null).getPropertyValue('display');
				b[i].style.display = 'none';
			}
		}
	
		/**
		 * 打印报告
		 */
		function createReport() {
			window.open("paintReport.html")
		}
	
		/**
		 * websocket连接
		 */
		var websocket = null;
		websocket = new WebSocket('ws://localhost:80/websocket/' + 123)
		websocket.onopen = function(e) {
			console.log('建立连接')
		}
	
		websocket.onclose = function(e) {
			console.log('连接关闭')
		}
	
	
		var flag = false;
		var src = '';
		websocket.onmessage = function(e) {
			
			var str = e.data;
			console.log(src)
			if(str[0] == "#"&&str[str.length-1]=="#"){
				src = str.slice(1,str.length-1);
				document.getElementById('re-img').src = src;
				console.log(src)
			}else if (str[0] == '#') {
				str = str.slice(1, str.length)
				src += str;
			} else if (e.data == '#') {
				document.getElementById('re-img').src = src;
				console.log(src)
				//console.log(src)
				src = ''
			} else if (e.data[e.data.length - 1] == '#') {
				src += e.data.slice(0, e.data.length - 1)
				//console.log(src)
				document.getElementById('re-img').src = src;
				console.log(src)
				src = '';
			} else {
				src += str;
			}
	
			//console.log(str)
	
			// console.log(e.data)
	
		}
	
		// function sendMSG() {
		// 	websocket.send(JSON.stringify(b));
	
		// }
	
		websocket.onerror = function() {
			console.log('建立连接出错')
		}
		window.onbeforeunload = function() {
			websocket.close();
		}
	
		/**
		 * 将byte数据变为字符串
		 * @param {Object} arr 	
		 */
		function byteToString(arr) {
			if (typeof arr === 'string') {
				return arr;
			}
			var str = '',
				_arr = arr;
			for (var i = 0; i < _arr.length; i++) {
				var one = _arr[i].toString(2),
					v = one.match(/^1+?(?=0)/);
				if (v && one.length == 8) {
					var bytesLength = v[0].length;
					var store = _arr[i].toString(2).slice(7 - bytesLength);
					for (var st = 1; st < bytesLength; st++) {
						store += _arr[st + i].toString(2).slice(2);
					}
					str += String.fromCharCode(parseInt(store, 2));
					i += bytesLength - 1;
				} else {
					str += String.fromCharCode(_arr[i]);
				}
			}
			return str;
		}
	</script>
</html>
