<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- 背景动画 以及初始化样式 -->
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../css/demo.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../css/doc_ligature.css" />
		<script type="text/javascript" src="./config/urlConfig.js"></script>
		<!-- 导入vue.js -->
		<script type="text/javascript" src="../js/vue.js"></script>
		<!-- 引入jQuery.js -->
		<script src="../js/jquery/jquery.min.js"></script>
	</head>
	<body>
		<!-- 背景 -->
		<div class="satic-area">
			<div class="dynamic-area1"></div>
			<div class="dynamic-area2"></div>
		</div>
		<div id="content">
			<div class="scale">
				<div class="cdt-menu">
					<span class="cdt">A部分练习</span>
					<span class="cdt">A部分测试</span>
					<span class="cdt">B部分练习</span>
					<span class="cdt">B部分测试</span>
				</div>

				<div class="scale-right" id="scale-right">
					<div id="scale-name">量表名称：连线测验（{{name}}）</div>
					<div class="scale-right-content content1">
						<div class="content-title">使用方法</div>
						<div class="question-content">
							<ul id="use-method">
								<li v-for="item in methods">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.value}}</li>
							</ul>
						</div>
					</div>

					<div class="scale-right-content  content2">
						<div class="content-title">患者绘图结果展示</div>
						<!-- 动态展示用户画板 -->
						<div class="re-img">
							<img id="re-img" />
						</div>

					</div>
				</div>
				<div class="scale-left">

					<div class="scale-check  content1" onclick="checkScore()">查看患者绘图并打分>></div>
					<div class="scale-check  content2" onclick="createReport()">
						生成报告>>
					</div>
					<button class="back" onclick="backPage()">返回</button>
					<div class="scale-content  content1">
						<div class="content-title">量表说明</div>
						<ul id="scale-list">
							<li v-for="item in scale_explain">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.value}}</p>
							</li>
						</ul>
					</div>


					<div class="scale-content  content2">
						<div class="content-title">
							注意事项
						</div>
						<ul class="options">
							<li v-for="item in notice">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.value}}</p>
							</li>
						</ul>
						<div class="content-title">
							提示选项
						</div>
						<div class="option-content" style="	width: 100%;padding-top: 15px;">
							<table border="0" cellspacing="3" cellpadding="10" style="width: 100%;text-align: center;">
								<tr>
									<td class="option-child" onclick="sendValue(this)"><span class="" style="display: inline-block;background-color: green;width: 50%;height: 30px;line-height: 30px;">1</span></td>
									<td class="option-child" onclick="sendValue(this)"><span style="display: inline-block;background-color: green;width: 50%;height: 30px;line-height: 30px;">2</span></td>
									<td class="option-child" onclick="sendValue(this)"><span style="display: inline-block;background-color: green;width: 50%;height: 30px;line-height: 30px;">3</span></td>
									<td class="option-child" onclick="sendValue(this)"><span style="display: inline-block;background-color: green;width: 50%;height: 30px;line-height: 30px;">4</span></td>
								</tr>
								<tr>
									<td class="option-child" onclick="sendValue(this)"><span style="display: inline-block;background-color: green;width: 50%;height: 30px;line-height: 30px;">A</span></td>
									<td class="option-child" onclick="sendValue(this)"><span style="display: inline-block;background-color: green;width: 50%;height: 30px;line-height: 30px;">B</span></td>
									<td class="option-child" onclick="sendValue(this)"><span style="display: inline-block;background-color: green;width: 50%;height: 30px;line-height: 30px;">C</span></td>
									<td class="option-child" onclick="sendValue(this)"><span style="display: inline-block;background-color: green;width: 50%;height: 30px;line-height: 30px;">D</span></td>
								</tr>
							</table>
						</div>
						<div class="test-data" id="bc">
							<span id="do-time">完成时长:{{time}}</span>
							<span id="do-score">
								连接错误数:{{error_con}}
							</span>
							<span id="do-score">
								忽略错误数:{{ignore_con}}
							</span>
						</div>

					</div>

				</div>
			</div>
			<canvas id="" width="" height="" style="display: none;"></canvas>
		</div>
	</body>
	<script>
	let USER_ID = window.location.search.split('?')[1].split(0,1).join("");
		
		$(document).ready(function() {
			$.ajax({
				type: 'GET',
				url: config.url+'/scales/testMsg/' + 20,
				success: function(e) {
					console.log(e.object)
					all_test = e.object.slice(0, e.object.length);
					//初始化注意事项
					let str = "";
					for (let i = 0; i < all_test.length; i++) {
						if (all_test[i].aiScoreMethodName == 'A部分练习') {
							for (let j = 0; j < all_test[i].aiQuestionNotice.length; j++) {
								if (all_test[i].aiQuestionNotice[j] == '&') {
									let obj = {};
									obj.value = str;
									notice.push(obj);
									str = "";
								} else {
									str += all_test[i].aiQuestionNotice[j];
								}
							}
							break;
						}
					}
					notice.push({
						value: str
					});
					str = "";
				},
				error: function() {

				}
			})

			let s;
			let scale;
			//检测内容是否发送过来
			try {
				s = storage.getItem("scale").items;
				for (let i = 0; i < s.length; i++)
					if (s[i].aiScaleId == 20) {
						scale = s[i];

						break
					}

			} catch (e) {
				console.log('出错了')
				return
			}
			let p = [];
			let f = "";
			let f2 = "";
			let p2 = [];
			//处理量表描述 and 量表用法
			try {
				//描述
				for (let i = 0; i < scale.aiScaleOverview.length; i++) {
					if (scale.aiScaleOverview[i] == '&') {
						p.push(f);
						f = "";
					} else {
						f += scale.aiScaleOverview[i];
					}

				}
				//用法
				for (let i = 0; i < scale.aiScaleNotice.length; i++) {
					if (scale.aiScaleNotice[i] == '&') {
						p2.push(f2);
						f2 = "";
					} else {
						f2 += scale.aiScaleNotice[i];
					}
				}
			} catch (e) {
				console.log('出错')
				//TODO handle the exception
			}

			p.push(f);
			p2.push(f2)
			//添加量表说明
			for (let j = 0; j < p.length; j++) {
				let obj = {};
				obj.value = p[j];
				scale_explain.push(obj);
			}
			for (let j = 0; j < p2.length; j++) {
				let obj = {};
				obj.value = p2[j];
				methods.push(obj) //methods.push(obj);
			}

			//顶部按钮点击事件
			for (let i = 0; i < cdt.length; i++)
				cdt[i].onclick = function() {
					if (i > Pos)
						alert('请先完成前面的测试')
					else {
						Pos++;
						if (Pos > 10)
							Pos = 10;
						this.style.backgroundColor = "rosybrown";

						notice.splice(0, notice.length);
						//加载注意事项和指导语
						for (let k = 0; k < all_test.length; k++)
							if (this.innerText == all_test[k].aiScoreMethodName) {
								let arr = all_test[k].aiQuestionNotice.split('&');
								arr.forEach(function(e) {
									let obj = {};
									obj.value = e;
									notice.push(obj);
								})
								scale_name.name = this.innerText;
								break;
							}
						
						let obj = {};
						obj.target = 124;
						obj.from_who = 123;
						obj.status = 0;
						obj.data = i+1;
						sendMSG(obj);
					}


				}

			if (!scale)
				alert("系统错误");
		})

		/**
		 * 封装的localStorage
		 */

		class Storage {
			constructor(arg) {
				this.name = 'storage';
			}
			//设置缓存
			setItem(key, value, expires) {
				let obj = {
					key: key,
					value: value,
					expires: expires, //过期时间
					startTime: new Date().getTime() //记录缓存存入时间，毫秒级
				};
				let options = {};

				//对象合并
				Object.assign(options, obj);

				if (options.expires) {
					//如果设置了过期时间
					localStorage.setItem(options.key, JSON.stringify(options));
				} else {
					//如果没有设置过期时间,获取value的对象类型
					let type = Object.prototype.toString.call(options.value);

					//如果是对象或者数组需要转为JSON字符串
					if (type == '[object Object]')
						options.value = JSON.stringify(options.value);
					if (type == '[object Array]')
						options.value = JSON.stringify(options.value);

					localStorage.setItem(options.key, options.value);
				}
			}

			//取出缓存
			getItem(key) {
				var item = localStorage.getItem(key);
				try {
					item = JSON.parse(item); //如果是JSON类型就转变为对象,一般用于封装存储
				} catch (e) {
					item = item; //如果不是JSON类型就直接返回值，没有封装存储
				}

				//判断是否设置了过期时间，通过封装存储的才有过期时间
				if (item)
					if (item.startTime && item.expires) {
						let date = new Date().getTime();
						if (date - item.startTime > item.expires) {
							localStorage.removeItem(key)
							return false;
						} else {
							return item.value
						}
					} else {
						//返回未经过封装的对象
						return item
					}
			}
			removeItem(key) {
				localStorage.removeItem(key);
			}
			clear() {
				localStorage.clear();
			}
		}

		var storage = new Storage();


		var cdt = document.getElementsByClassName('cdt');

		//记录当前测试位置
		var Pos = 0;

		//所有题目信息
		var all_test = [];

		//量表说明数据包
		var scale_explain = [];

		//评分方式数据包
		var methods = [];

		//指导语数据包
		var guids = [];

		//注意事项数据包
		var notice = [];

		//评分方式控制
		// var user_methods = new Vue({
		// 	el:'#use-method',
		// 	data:{
		// 		methods
		// 	}
		// })
		
		new Vue({
			el: '.options',
			data: {
				notice: notice
			}
		});
		//时间控制
		var do_time = new Vue({
			el: '#bc',
			data: {
				time: 0,
				error_con: 0,
				ignore_con: 0
			}
		});

		//量表说明控制
		var scale_list = new Vue({
			el: '#scale-list',
			data: {
				scale_explain
			}
		})

		//
		var scale_name = new Vue({
			el: '#scale-right',
			data: {
				name: 'A部分练习',
				methods
			}
		});


		/**
		 * 为选项列表添加事件
		 */
		function sendValue(t){
			let targetId = 124;
			let docId = 456;
			obj = {};
			obj.target = targetId;
			obj.from_who = docId;
			obj.status = 1;
			obj.data = t.childNodes[0].innerHTML;
			obj.incise = false;
			obj.isLongData = false;
			sendMSG(obj);
		}

		/**
		 * 切换窗口
		 */
		function checkScore() {
			let a = document.getElementsByClassName('content1');
			let b = document.getElementsByClassName('content2');
			for (let i = 0; i < a.length; i++) {
				b[i].style.display = getComputedStyle(a[i], null).getPropertyValue('display');
				a[i].style.display = 'none';
			}
			document.getElementsByClassName('back')[0].style.display = 'initial';
		}
		/**
		 * 返回上一层
		 */
		function backPage() {
			document.getElementsByClassName('back')[0].style.display = 'none';
			let a = document.getElementsByClassName('content1');
			let b = document.getElementsByClassName('content2');
			for (let i = 0; i < a.length; i++) {
				a[i].style.display = getComputedStyle(b[i], null).getPropertyValue('display');
				b[i].style.display = 'none';
			}
		}

		/**
		 * 打印报告
		 */
		function createReport() {
			window.open("paintReport.html")
		}

		/**
		 * websocket连接
		 */
		var websocket = null;
		if('WebSocket' in window){
			
		}else{
			
		}
		websocket = new WebSocket(config.wsURL+'/websocket/' + USER_ID)
		websocket.onopen = function(e) {
			console.log('建立连接')
		}

		websocket.onclose = function(e) {
			console.log('连接关闭')
		}


		var flag = false;
		var src = '';
		websocket.onmessage = function(e) {
			try{
				let data = JSON.parse(e.data);
				//console.log(e.data)
				if(data.endIncise){
					src +=data.data;
					document.getElementById('re-img').src = src;
					//console.log(src);
					src = "";
				}else if(data.data!='undefined'){
					src +=data.data;
				}
			}catch(e){
				//TODO handle the exception
			}
			
		}

		function sendMSG(obj) {
			websocket.send(JSON.stringify(obj));
		}

		websocket.onerror = function() {
			console.log('建立连接出错')
		}
		window.onbeforeunload = function() {
			websocket.close();
		}

		/**
		 * 将byte数据变为字符串
		 * @param {Object} arr 	
		 */
		function byteToString(arr) {
			if (typeof arr === 'string') {
				return arr;
			}
			var str = '',
				_arr = arr;
			for (var i = 0; i < _arr.length; i++) {
				var one = _arr[i].toString(2),
					v = one.match(/^1+?(?=0)/);
				if (v && one.length == 8) {
					var bytesLength = v[0].length;
					var store = _arr[i].toString(2).slice(7 - bytesLength);
					for (var st = 1; st < bytesLength; st++) {
						store += _arr[st + i].toString(2).slice(2);
					}
					str += String.fromCharCode(parseInt(store, 2));
					i += bytesLength - 1;
				} else {
					str += String.fromCharCode(_arr[i]);
				}
			}
			return str;
		}
	</script>
</html>
