<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/paintReport.css" />
		<!-- 背景动画 -->
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../css/demo.css">
		<link rel="stylesheet" href="../css/style.css">
		<!-- 引入vue.js -->
		<!-- <script type="text/javascript" src="../js/vue.min.js">

		</script> -->

		<!--  pdf制作依赖文件-->
		<script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.js"></script>
		<script src="https://cdn.bootcss.com/jspdf/1.3.4/jspdf.debug.js"></script>
	</head>
	<body>

		<!-- 背景 -->
		<div class="satic-area">
			<div class="dynamic-area1"></div>
			<div class="dynamic-area2"></div>
		</div>
		<button onclick="print()"> 打印</button>
		<div class="report">
			<div class="report-top">
				<!-- 报告页眉 -->
				<div class="report-nav">
					<p>测评结果仅反应被测人最新状态</p>
					<p>仅用于专业诊断参考</p>
				</div>

				<!-- 报告内容 -->
				<div class="report-content">
					<p class="report-content-title">心理健康测评报告</p>
					<hr style="width: 100%;height: 1px;margin: 0; background-color: black;" />
					<hr style="width: 100%;height: 1px;margin: 0;background-color: black;" />
					<table border="0" cellspacing="" cellpadding="5" class="user-msg user-msg1" style="border-bottom:1px solid #000000;">
						<tr>
							<td>门诊号:{{}}</td>
							<td>姓名:{{}}</td>
							<td>性别:{{}}</td>
							<td>年龄:{{}}</td>
						</tr>
						<tr>
							<td>来源:{{}}</td>
							<td>职业:{{}}</td>
							<td>婚姻:{{}}</td>
							<td>教育:{{}}</td>
						</tr>
					</table>
					<p style="font-size:18px;text-align:center;width:100%;border-bottom: 2px solid black;margin: 0;padding: 5px 0 5px 0;"><strong>{{学生心理素质发展测评表}}</strong></p>
					<table border="0" cellspacing="" cellpadding="5" class="user-msg user-msg2" style="border-top:1px solid black;margin-top: 1px ;border-bottom: 2px solid black;">
						<tr>
							<td>项目</td>
							<td>得分</td>
							<td>结论参考值</td>
							<td>结论</td>
						</tr>
						<tr>
							<td>111</td>
							<td>111</td>
							<td>111</td>
							<td>111</td>
						</tr>
					</table>
					<div class="scale-re" style="border-top: 1px solid black;margin-top: 1px;">
						<span>分因子结论:</span>
						<p>{{dfadsfdasf东方大师傅都是个大师傅adsfdsfds}}</p>
					</div>
					<div class="scale-re">
						<span>总结论:</span>
						<p>{{发给对方是个打工打谁发的萨芬让对方的说法是发的说说}}</p>
						<p>{{发给对方是个打工打谁发的萨芬让对方的说法是发的说说}}</p>
						<span id="test-man">施测人:{{...}}</span>
					</div>
				</div>

			</div>

			<!-- 报告页脚 -->
			<div class="report-footer">
				<div class="report-footer-title">
					<span>报告日期:{{fsg}}</span><span>科室:{{df}}</span>
				</div>
				<hr style="width: 100%;height: 1px;margin: 0;background-color: black;outline: none;" />
				<span class="report-footer-page">(第{{1}}页/共{{1}}页)</span>

				<div class="report-footer-content-box">
					<ul class="report-footer-content">
						<li v-for="">
							<span>{{}}</span>
							<span>地址:{{}}</span>
							<span>电话:{{}}</span>
						</li>
						<li v-for="">
							<span>{{}}</span>
							<span>地址:{{}}</span>
							<span>电话:{{}}</span>
						</li>
						<li v-for="">
							<span>{{}}</span>
							<span>地址:{{}}</span>
							<span>电话:{{}}</span>
						</li>
					</ul>

					<div class="report-footer-li-div">
						<div>
							<img style="  width: 50px;height: 50px;background-color: #C0C0C0;">
							中心公众号
						</div>
						<div id="">
							<img style=" width: 50px;height: 50px;background-color: #C0C0C0;">
							维修二维码
						</div>
					</div>
				</div>


			</div>
		</div>


	</body>
	<script>
		
		
	</script>

	<script>
		function print() {
			//获取内容节点
			let top = document.getElementsByClassName('report-nav')[0];
			let content = document.getElementsByClassName('report-content')[0];
			let bottom = document.getElementsByClassName('report-footer')[0];

			//页眉页脚图片
			let top_img;
			let bottom_img;

			let a, b;

			a = html2canvas(top, {
				onrendered: function(canvas) {
					top_img = canvas;
				}
			});

			b = html2canvas(bottom, {
				onrendered: function(canvas) {
					bottom_img = canvas;
				}
			})
			Promise.all([a, b]).then(function() {
				// document.body.appendChild(top_img)
				// document.body.appendChild(bottom_img)]

				html2canvas(content, {
					onrendered: function(canvas) {

						//页眉和页脚高度、宽度
						var top_img_height = top_img.height;
						var bottom_img_height = bottom_img.height;


						var contentWidth = canvas.width;
						var contentHeight = canvas.height;

						//页面高度转换比例
						var proportion = 592.28 / contentWidth;


						//未生成pdf的html页面高度，默认100%
						var leftHeight = contentHeight * proportion;


						//a4纸的尺寸[595.28,841.89]，html页面生成的canvas在pdf中图片的宽高
						var imgWidth = 595.28;

						var imgHeight = proportion * contentHeight;
						var topImgHeight = top_img_height * proportion;
						var bottomImgHeight = bottom_img_height * proportion;

						//一页pdf显示最大html内容页面高度（去除去除页眉页脚部分）
						var pageHeight = 841.89 - topImgHeight - bottomImgHeight;


						//页面偏移，默认偏移量为一个页眉高度
						var position = topImgHeight;

						var topData = top_img.toDataURL('image/jpeg', 1.0);
						var bottomData = bottom_img.toDataURL('image/jpeg', 1.0);
						var pageData = canvas.toDataURL('image/jpeg', 1.0);

						var pdf = new jsPDF('', 'pt', 'a4');

						//有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
						//当内容未超过pdf一页显示的范围，无需分页
						if (leftHeight < pageHeight) {
							pdf.addImage(topData, 'JPEG', 0, 0, imgWidth, topImgHeight);
							pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight);
							pdf.addImage(bottomData, 'JPEG', 0, 841.89 - bottomImgHeight, imgWidth, bottomImgHeight);
							// pdf.text(20, 30, 'This is client-side Javascript, pumping out a PDF.')
						} else { //需要分页
							while (leftHeight > 0) {
								pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight);
								pdf.addImage(topData, 'JPEG', 0, 0, imgWidth, topImgHeight);
								pdf.addImage(bottomData, 'JPEG', 0, 841.89 - bottomImgHeight, imgWidth, bottomImgHeight);
								leftHeight -= pageHeight;
								position -= pageHeight;
								//避免添加空白页
								if (leftHeight > 10) {
									console.log(leftHeight)
									pdf.addPage();
								}
							}
						}
						//var b = pdf.output('datauri');
						//console.log(b);
						
						//img.src = b;
						pdf.save("content.pdf");
					}
				})

			}).catch(function() {
				alert('打印维护中')
			})

			console.log(a)
			// var target = document.getElementsByClassName('report')[0];
			// target.style.background = 'white'


		}
	</script>
</html>
