<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="utf-8">
		<title>神经心理辅助诊疗系统</title>
		<script src="config/userConfig.js"></script>
		<!-- 背景动画 以及初始化样式-->
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../css/demo.css">
		<link rel="stylesheet" href="../css/style.css">
		<script type="text/javascript" src="../js/vue.js"></script>
		<!-- 引入jQuery.js -->
		<script src="../js/jquery/jquery.min.js"></script>
		<!-- 引入element -->
		<script src="../element/element.js"></script>
		<link rel="stylesheet" type="text/css" href="../element/element.css" />
		<script src="config/urlConfig.js"></script>
		<script src="utils/Storage.js"></script>

		<link rel="stylesheet" type="text/css" href="../css/setting.css" />
	</head>
	<body>
		<!-- 背景图 -->
		<div class="satic-area">
			<div class="dynamic-area1"></div>
			<div class="dynamic-area2"></div>
		</div>

		<div id="content">

			<div class="scale" style="flex-direction: column;">

				<div class="top">

				</div>
				<div class="center">
					<div class="left">
						<div class="left-content">
							<div class="mButton " :class="[menueManage.status==0?'mButton-bgc-blue':'mButton-bgc-white']" @click="menueClickHandlerEvent(0)">
								用户管理
							</div>
							<div class="mButton " :class="[menueManage.status==1?'mButton-bgc-blue':'mButton-bgc-white']" @click="menueClickHandlerEvent(1)">
								本机设置
							</div>
						</div>
					</div>
					<div class="right">
						<!-- 菜单一内容 -->
						<div class="right-pages" v-if="menueManage.status==0">
							<!-- 查询表格界面 -->
							<div class="right-pages right-content" v-if="userManage.status==0">
								<div class="right-1">
									<el-input v-model.trim="userManage.id1" style="width: 500px;" placeholder="请输入内容" class="mDivider">
										<i slot="prefix" class="el-input__icon el-icon-search"></i>
									</el-input>
									<div class="mButton-1-1 mDivider" @click="check">
										查询
									</div>
									<div class="mButton-1-2" @click="add">
										新增
									</div>
								</div>
								<div class="right-2">
									<table class="table-1" style="border-top-left-radius: 5px;border-top-right-radius: 5px;">
										<tr>
											<td class="t-border-right" style="width: 18%;">id/账号</td>
											<td class="t-border-right" class="t-border-right" style="width: 18%;">姓名</td>
											<td class="t-border-right" style="width: 20%;">权限类型</td>
											<td class="t-border-right" style="width: 20%;">账号状态</td>
											<td style="width: 24%;">操作</td>
										</tr>
									</table>
									<div class="table-list">
										<table style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top: none;">
											<tr v-for="(it,index) in tableList" :key="index" class="table-mouserOver">
												<td class="t-border-right" style="width: 18%;" :style="getTableStyle(index)">{{it.aiUserId}}</td>
												<td class="t-border-right" style="width: 18%;" :style="getTableStyle(index)">{{it.aiUserName}}</td>
												<td class="t-border-right" style="width: 20%;" :style="getTableStyle(index)">{{it.aiUserType}}</td>
												<td class="t-border-right" style="width: 20%;font-weight: 800;" :style="[getTableStyle(index),getStatus(index)]">
													{{it.aiUserStatus}}
												</td>
												<td style="width: 24%;" :style="getTableStyle(index)" class="cc">
													<div v-if="it.aiUserStatus=='正常'" @click="viewMsg(it.aiUserId)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
														<span>用户信息</span>
														<!-- style="fill: rgb(16, 16, 16);" -->
														<svg style="margin-left: 10px;" xmlns="http://www.w3.org/2000/svg" class="svg-icon cc" viewBox="0 0 24 24"
														 width="24" height="24">
															<path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"></path>
														</svg>
													</div>
													<div v-else @click="reback(index)" style="display: flex;justify-content: center;align-items: center;cursor: pointer;">
														重新启用
														<svg style="margin-left: 10px;" xmlns="http://www.w3.org/2000/svg" class="svg-icon cc" viewBox="0 0 32 32"
														 width="24" height="24">
															<path d="M9.882 26.997c1.774 1.065 3.371 1.774 4.969 1.952l0.177-1.775c-1.242-0.177-2.661-0.709-4.259-1.597l-0.885 1.419zM4.559 19.723c0.708 1.952 1.419 3.548 2.485 4.789l1.419-1.242c-0.889-1.065-1.6-2.307-2.131-4.081l-1.774 0.533zM18.577 27.174l0.354 1.775c1.941-0.316 3.675-1.002 5.2-1.984l-0.053 0.032-0.887-1.419c-1.239 0.708-2.837 1.241-4.61 1.596zM16.802 3.040c-3.904 0-7.275 1.598-9.938 4.614l-4.080-2.485 0.708 9.76 9.051-3.726-4.262-2.661c2.13-2.485 5.147-3.727 8.341-3.727 6.21 0 11.179 4.969 11.179 11.179 0 2.308-0.709 4.437-1.774 6.212l1.419 0.887c1.422-2.13 2.131-4.614 2.131-7.275 0.177-6.923-5.679-12.779-12.779-12.779zM5.090 12.267l-0.354-3.904 3.904 2.308-3.552 1.596z"></path>
														</svg>
													</div>


												</td>
											</tr>
											<tr v-if="tableList.length==0">
												<td >没有内容！</td>
											</tr>
										</table>
									</div>
									<div class="table-page">
										<el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
										 :page-sizes="[5, 10, 15, 20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
										</el-pagination>
									</div>
								</div>
							</div>
							<!-- 新增用户界面 -->
							<div class="right-pages right-content" v-else-if="userManage.status==1">
								<div class="right-2-1">
									<div class="align-center"><img class="icon-margin-r" src="../svg/user.svg">用户账号</div>
									<div class="right-2-1-a">
										<el-input v-model.trim="userManage.id2" style="width: 400px;margin-right: 30px;"></el-input>
										<el-select v-model="userManage.select" placeholder="权限类型">
											<el-option label="医生账号" value="医生">
											</el-option>
											<el-option label="患者账号" value="用户">
											</el-option>
										</el-select>
									</div>
								</div>
								<div class="right-2-2">
									<div class="align-center"><img class="icon-margin-r" src="../svg/msg.svg">基础信息</div>
									<div class="right-2-2-msg">
										<el-input v-model.trim="userManage.addMsg.name" style="width: 22%;margin-bottom: 10px;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												姓名：
											</div>
										</el-input>
										<el-select v-model="userManage.addMsg.sex" placeholder="请选择" style="width: 22%;margin-bottom: 10px;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												性别：
											</div>
											<el-option label="男" value="男">
											</el-option>
											<el-option label="女" value="女">
											</el-option>
										</el-select>
										<el-input type="text" v-model.trim.number="userManage.addMsg.age" style="width: 22%;margin-bottom: 10px;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												年龄：
											</div>
										</el-input>
										<el-select v-model="userManage.addMsg.edu" placeholder="请选择" style="width: 22%;margin-bottom: 10px;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												学历：
											</div>
											<el-option v-for="(it,index) in userManage.itemList.edu" :key="index" :label="it" :value="it">
											</el-option>

										</el-select>
										<el-select v-model="userManage.addMsg.marriage" placeholder="请选择" style="width: 22%;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												婚姻：
											</div>
											<el-option label="是" value="是">
											</el-option>
											<el-option label="否" value="否">
											</el-option>

										</el-select>
										<el-select v-model="userManage.addMsg.job" placeholder="请选择" style="width: 22%;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												{{userManage.select == '医生' ? '职称' : '职业'}}
											</div>
											<span v-if="userManage.select=='用户'">
													<el-option  v-for="(it,index) in userManage.itemList.job" :key="index" :label="it" :value="it">
											</el-option>
											</span>
											<span v-else>
												<el-option   v-for="(it,index) in userManage.itemList.le" :key="index" :label="it" :value="it">
													
												</el-option>
											</span>
										

										</el-select>
										<el-input v-model.trim="userManage.addMsg.office" style="width: 22%;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												科室：
											</div>
										</el-input>
										<el-input v-if="userManage.select=='医生'" v-model.trim="userManage.addMsg.from" style="width: 22%;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												地址
											</div>
										</el-input>
										<el-select v-else v-model.trim="userManage.addMsg.from" placeholder="请选择" style="width: 22%;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												来源
											</div>
											<el-option v-for="(it,index) in userManage.itemList.from" :key="index" :label="it" :value="it">
											</el-option>
										</el-select>
									</div>
								</div>
								<div class="right-2-3">
									<div class="align-center"><img class="icon-margin-r" src="../svg/setting_icons/lock.svg">密码设置</div>
									<div class="right-2-1-a">
										<el-input disabled :show-password="true" type="password" v-model.trim="userManage.addMsg.pwd1" style="width: 22%;margin-right: 30px;"
										 placeholder="请输入新密码"></el-input>
										<el-input disabled :show-password="true" type="password" v-model.trim="userManage.addMsg.pwd2" style="width: 22%;"
										 placeholder="确认密码"></el-input>
									</div>
									<div class="" style="width: 100%;display: flex;justify-content: center;margin-top: 20px;">
										<div class="mButton-2-1" style="width: 100px;" @click="back(1)">
											<img src="../svg/setting_icons/back.svg">
											<span>返回</span>
										</div>
										<div class="" style="width: 30px;">
										</div>
										<div class="mButton-3-1" style="width: 100px;" @click="createUser">
											<img src="../svg/setting_icons/ok.svg">创建
										</div>
									</div>
								</div>
							</div>
							<!-- 信息查看界面 -->
							<div class="right-pages right-content" v-else>
								<div class="right-2-1">
									<div class="align-center"><img class="icon-margin-r" src="../svg/user.svg">用户账号</div>
									<div class="right-2-1-a">
										<el-input disabled v-model="userManage.id3" style="width: 400px;margin-right: 30px;"></el-input>
									</div>
								</div>
								<div class="right-2-2">
									<div class="align-center"><img class="icon-margin-r" src="../svg/msg.svg">基础信息</div>
									<div class="right-2-2-msg">
										<el-input v-model="userManage.checkMsg.name" style="width: 22%;margin-bottom: 10px;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												姓名：
											</div>
										</el-input>
										<el-select v-model="userManage.checkMsg.sex" placeholder="请选择" style="width: 22%;margin-bottom: 10px;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												性别：
											</div>
											<el-option label="男" value="男">
											</el-option>
											<el-option label="女" value="女">
											</el-option>
										</el-select>
										<el-input type="text" v-model.number="userManage.checkMsg.age" style="width: 22%;margin-bottom: 10px;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												年龄：
											</div>
										</el-input>
										<el-select v-model="userManage.checkMsg.edu" placeholder="请选择" style="width: 22%;margin-bottom: 10px;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												学历：
											</div>
											<el-option v-for="(it,index) in userManage.itemList.edu" :key="index" :label="it" :value="it">
											</el-option>

										</el-select>
										<el-select v-model="userManage.checkMsg.marriage" placeholder="请选择" style="width: 22%;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												婚姻：
											</div>
											<el-option label="是" value="是">
											</el-option>
											<el-option label="否" value="否">
											</el-option>

										</el-select>
										<el-select v-model="userManage.checkMsg.job" placeholder="请选择" style="width: 22%;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												职业：
											</div>
											<el-option v-for="(it,index) in userManage.itemList.job" :key="index" :label="it" :value="it">
											</el-option>

										</el-select>
										<el-input v-model="userManage.checkMsg.office" style="width: 22%;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												科室：
											</div>
										</el-input>
										<el-select v-model="userManage.checkMsg.from" placeholder="请选择" style="width: 22%;">
											<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
												来源：
											</div>
											<el-option v-for="(it,index) in userManage.itemList.from" :key="index" :label="it" :value="it">
											</el-option>

										</el-select>
									</div>
								</div>
								<div class="right-2-3">
									<div class="align-center"><img class="icon-margin-r" src="../svg/setting_icons/lock.svg">密码设置</div>
									<div class="right-2-1-a">
										<el-input disabled :show-password="true" type="password" v-model.trim="userManage.checkMsg.pwd1" style="width: 22%;margin-right: 30px;"
										 placeholder="请输入新密码"></el-input>
										<el-input disabled :show-password="true" type="password" v-model.trim="userManage.checkMsg.pwd2" style="width: 22%;"
										 placeholder="确认密码"></el-input>
									</div>
									<div class="" style="width: 100%;display: flex;justify-content: center;margin-top: 20px;">
										<div class="mButton-2-1" style="width: 100px;" @click="back(1)">
											<img src="../svg/setting_icons/back.svg">
											<span>返回</span>
										</div>
										<div class="" style="width: 30px;">
										</div>
										<div class="mButton-2-2" style="width: 100px;" @click="changeUser">
											<img src="../svg/setting_icons/ok.svg"><span>修改</span>
										</div>
										<div class="" style="width: 30px;">
										</div>

										<div class="mButton-2-3" style="width: 100px;" @click="remove">
											<img src="../svg/setting_icons/back.svg">
											<span>作废</span>
										</div>


									</div>
								</div>
							</div>
						</div>
						<!-- 第二个菜单 -->
						<div class="right-content" v-else>
							<div class="right-2-1">
								<div class="align-center"><img class="icon-margin-r" src="../svg/user.svg">系统单位</div>
								<div class="right-2-1-a">
									<el-input disabled v-model="localManage.id1" style="width: 400px;margin-right: 30px;"></el-input>
								</div>
							</div>
							<div class="right-2-2">
								<div class="align-center"><img class="icon-margin-r" src="../svg/msg.svg">基础信息</div>
								<div class="right-2-2-msg">
									<el-input v-model="localManage.checkMsg.name" style="width: 22%;margin-bottom: 10px;">
										<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
											姓名：
										</div>
									</el-input>
									<el-select v-model="localManage.checkMsg.sex" placeholder="请选择" style="width: 22%;margin-bottom: 10px;">
										<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
											性别：
										</div>
										<el-option label="男" value="男">
										</el-option>
										<el-option label="女" value="女">
										</el-option>
									</el-select>
									<el-input v-model.number="localManage.checkMsg.age" style="width: 22%;margin-bottom: 10px;">
										<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
											年龄：
										</div>
									</el-input>
									<el-select v-model="localManage.checkMsg.edu" placeholder="请选择" style="width: 22%;margin-bottom: 10px;">
										<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
											学历：
										</div>
										<el-option v-for="(it,index) in localManage.itemList.edu" :key="index" :label="it" :value="it">
										</el-option>

									</el-select>
									<el-select v-model="localManage.checkMsg.marriage" placeholder="请选择" style="width: 22%;">
										<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
											婚姻：
										</div>
										<el-option label="是" value="男">
										</el-option>
										<el-option label="否" value="女">
										</el-option>

									</el-select>
									<el-select v-model="localManage.checkMsg.job" placeholder="请选择" style="width: 22%;">
										<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
											职称：
										</div>
										<el-option v-for="(it,index) in localManage.itemList.le" :key="index" :label="it" :value="it">
										</el-option>

									</el-select>
									<el-input v-model="localManage.checkMsg.office" style="width: 22%;">
										<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
											科室：
										</div>
									</el-input>
									<el-input v-model.trim="localManage.checkMsg.from" style="width: 22%;">
										<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
											地址：
										</div>
									</el-input>
									<!-- <el-select v-model="localManage.checkMsg.from" placeholder="请选择" style="width: 22%;">
										<div slot="prefix" style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center;color: black;">
											地址：
										</div>
										<el-option v-for="(it,index) in localManage.itemList.from" :key="index" :label="it" :value="index">
										</el-option>

									</el-select> -->
								</div>
							</div>
							<div class="right-2-3">
								<div class="align-center"><img class="icon-margin-r" src="../svg/setting_icons/lock.svg">密码设置</div>
								<div class="right-2-1-a">
									<el-input :show-password="true" type="password" autocomplete="off" v-model.trim="localManage.checkMsg.pwd1"
									 style="width: 22%;margin-right: 30px;" placeholder="请输入新密码"></el-input>
									<el-input :show-password="true" type="password" v-model.trim="localManage.checkMsg.pwd2" style="width: 22%;"
									 placeholder="确认密码"></el-input>
								</div>
								<div class="" style="width: 100%;display: flex;justify-content: center;margin-top: 20px;">

									<div class="mButton-2-2" style="width: 100px;" @click="changeUser">
										<img src="../svg/setting_icons/ok.svg"><span>修改</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="bottom">
					<img @click="exit" src="../svg/menue_icons/shutDown.svg" style="background-color: #D93838;">
					<img @click="home" src="../svg/menue_icons/home.svg">
					<img src="../svg/menue_icons/edit.svg" />
					<img src="../svg/menue_icons/search.svg">
					<img src="../svg/menue_icons/setting.svg">
				</div>
			</div>
		</div>

	</body>
	<script>
	
		var ProfileAlert = Vue.extend({
			template: `<div class="Message">
				<div class="Message-content">
					<div class="Message-header"></div>
					<img src="../svg/setting_icons/error.svg" >
					<p class="Message-text" v-for="(it,index) in Alert.text" :key="index">{{it}}</p>
					<div class="Message-button">
						<div class="Message-button-cancle" @click="cancle">
							取消
						</div>
						<div class="Message-button-ok" @click="ok">
							确认
						</div>
					</div>
				</div>
			</div>`,
			data() {
				return {
					res: '',
					rej: ''
				}
			},
			props: ['Alert'],
			methods: {
				init() {
					return new Promise((res, rej) => {
						this.res = res;
						this.rej = rej;
					})
				},
				ok() {
					this.$destroy(true);
					this.$el.parentNode.removeChild(this.$el);
					this.res()
				},
				cancle() {
					this.$destroy(true);
					this.$el.parentNode.removeChild(this.$el);
					this.rej()
				}
			}
		})
		var ProfileConfirm = Vue.extend({
			template: `<div class="Message">
				<div class="Message-content">
					<div class="Message-header"></div>
					<img src="../svg/setting_icons/error.svg" >
					<p class="Message-text" v-for="(it,index) in Confirm.text" :key="index">{{it}}</p>
					<div class="Message-button">
						<div class="Message-button-cancle" @click="cancle">
							取消
						</div>
						<div class="Message-button-ok" @click="ok">
							确认
						</div>
					</div>
				</div>
			</div>`,
			data(a) {
				return {
					res: null,
					rej: null
				}
			},
			props: ['Confirm'],
			methods: {
				get() {
					return new Promise((res, rej) => {
						this.res = res;
						this.rej = rej;
					})
				},
				ok() {

					this.$destroy(true);
					this.$el.parentNode.removeChild(this.$el);
					this.res()
				},
				cancle() {
					this.$destroy(true);
					this.$el.parentNode.removeChild(this.$el);
					this.rej()
				},
			}
		})

		function Alert(value) {
			let instance = new ProfileAlert({
				propsData: {
					Alert: {
						...value,
					}
				}
			}).$mount();
			document.body.appendChild(instance.$el);
			return new Promise((res, rej) => {
				instance.init().then(function() {
					res()
				}).catch(function() {
					rej()
				})
			})
		}

		function Confirm(value) {
			let instance = new ProfileConfirm({
				el: document.createElement('div'),
				propsData: {
					Confirm: {
						...value
					}
				}
			});
			document.body.appendChild(instance.$el)
			return new Promise((res, rej) => {
				instance.get().then(function() {
					res()
				}).catch(function() {
					rej()
				})
			})
		}
		Vue.prototype.$Alert = Alert;
		Vue.prototype.$Confirm = Confirm

		new Vue({
			el: '#content',

			data() {
				return {
					tableList: [],
					currentPage: 1,
					pageSize:10,
					total: 0,
					userManage: { //用户管理
						status: 0,
						select: '',
						itemList: {
							edu: ['小学', '初中', '高中/职中', '大专', '本科', '硕士', '博士', ],
							job: ['计算机', '互联网', '通讯', '生产/工艺/制造', '医护/护理/制药', '金融/银行/投资',
								'保险', '商业/服务行', '文化/广告/传媒', '娱乐/艺术/表演', '律师/法务', '教育/培训',
								'公务员/事业单位', '模特', '空姐', '学生', '其它',
							],
							'from': ['门诊', '住院', '其它'],
							le:["护士","测评师","咨询师","副主任医生","主任医生",]
						},
						id1: '',
						id2: '',
						id3: '',
						checkMsg: {
							name: '',
							sex: '',
							age: '',
							edu: '',
							marriage: '',
							job: '',
							office: '',
							'from': '',
							pwd1: '',
							pwd2: '',
						},
						addMsg: {
							name: '',
							sex: '',
							age: '',
							edu: '',
							marriage: '',
							job: '',
							office: '',
							'from': '',
							pwd1: '',
							pwd2: ''
						}
					},
					localManage: { //本机管理
						status: 0,
						itemList: {
							edu: ['小学', '初中', '高中/职中', '大专', '本科', '硕士', '博士', ],
							job: ['计算机', '互联网', '通讯', '生产/工艺/制造', '医护/护理/制药', '金融/银行/投资',
								'保险', '商业/服务行', '文化/广告/传媒', '娱乐/艺术/表演', '律师/法务', '教育/培训',
								'公务员/事业单位', '模特', '空姐', '学生', '其它',
							],
							'from': ['门诊', '住院', '其它'],
							le:["护士","测评师","咨询师","副主任医生","主任医生",]
						},
						id1: '',
						id2: '',
						checkMsg: {
							name: '',
							sex: '',
							age: '',
							edu: '',
							marriage: '',
							job: '',
							office: '',
							'from': '',
							pwd1: '',
							pwd2: '',
						},
						addMsg: null
					},
					menueManage: { //菜单窗户管理
						status: 0
					}
				}
			},
			computed: {

			},
			methods: {
				exit(){
					sstorage.removeItem('logins');
					location.reload()
				},
				home(){
					location.href = 'menue.html'
				},
				reback(index) {
					let that = this;
					this.$Confirm({
						text: ['是否确认恢复该用户账号？', '恢复后即可查询该用户的所有信息。']
					}).then(function() {
						$.ajax({
							type: 'PUT',
							url:config.url +'/users/status/'+that.tableList[index].aiUserId+"/1",
							success: function(e) {
								that.tableList[index].aiUserStatus = '正常'
							},
							error:function(e){
								that.$message({
									type:'warning',
									message:'请求超时',
									showClose:true
								})
							}
						})
					}).catch(function() {
						//do nothing
					})
				},
				getTableStyle(index) {
					return {
						borderTop: index == 0 ? 'none' : '',
						borderBottom: index < this.tableList.length - 1 ? 'solid 1px rgba(0,0,0,0.3)' : ''
					}
				},
				getStatus(index) {
					var t = '#128057'
					if (this.tableList[index].aiUserStatus == '正常')
						t = '#128057'
					else
						t = '#D93838';
					return {
						color: t
					}
				},
				tableItemMouserOver() {

				},
				handleSizeChange(pageSize) {
					this.pageSize = pageSize;
					let that = this;
					$.ajax({
						type: 'GET',
						url: config.url + '/users/status/'+that.currentPage+'/'+that.pageSize,
						success: function(e) {
							that.tableList = e.object;
							that.total = e.o;
						}
					})
				},
				handleCurrentChange(currentPage) {
					this.currentPage = currentPage;
					let that = this;
					$.ajax({
						type: 'GET',
						url: config.url + '/users/status/'+that.currentPage+'/'+that.pageSize,
						success: function(e) {
							that.tableList = e.object;
							that.total = e.o;
						}
					})
				},
				add() {
					this.userManage.status = 1;
				},
				check() {
					let that =this;
					if(this.userManage.id1.length==0){
						$.ajax({
							type: 'GET',
							url: config.url + '/users/status/1/100',
							success: function(e) {
								that.tableList = e.object;
							}
						})
						
					}else
					$.ajax({
						type:'GET',
						url:config.url+'/users/status/'+that.userManage.id1,
						success:function(e){
							that.tableList.splice(0);
							if(e.object){
								that.tableList.push(e.object)
							}else{
								that.$message({
									message:'没有找到内容！',
									type:'warning'
								})
							}
						},
						error:function(){
							that.$message({
								message:'请求失败！',
								type:'error'
							})
						}
					})
				},
				back(e) {
					if (e == 1) {
						this.userManage.status = 0;

					}
				},
				createUser() {
					// if (this.userManage.checkMsg.pwd1 == '' || this.userManage.checkMsg.pwd2 == '') {
					// 	this.$message({
					// 		showClose: true,
					// 		type: 'warning',
					// 		message: '密码不能为空！',
					// 		offset: window.screen.height / 3,
					// 		duration: 1500
					// 	})
					// } else if (this.userManage.checkMsg.pwd1 != this.userManage.checkMsg.pwd2) {
					// 	this.$message({
					// 		showClose: true,
					// 		type: 'warning',
					// 		message: '密码不一致！',
					// 		offset: window.screen.height / 3,
					// 		duration: 1500
					// 	})
					// } else if (this.userManage.checkMsg.pwd1.length < 6 || this.userManage.checkMsg.pwd2.length < 6) {
					// 	this.$message({
					// 		showClose: true,
					// 		type: 'warning',
					// 		message: '请输入至少六位的密码！',
					// 		offset: window.screen.height / 3,
					// 		duration: 1500
					// 	})
					// } else if (this.userManage.checkMsg.pwd1 == this.userManage.checkMsg.pwd2) {
					// 	console.log('保存')
					// }
					let o =JSON.parse(JSON.stringify(this.userManage.addMsg));
					if(this.userManage.id2.length==0){
						this.$message({
							message:'请先创建账号',
							type:'warning',
							showClose:true
						})
						return
					}else {
						for(let i in o){
							if(i=="pwd1"||i=="pwd2")
								continue
							if(o[i]==""){
								this.$message({
									type:'warning',
									message:'请完成基本信息填写'
								})
								return
							}
						}
					}
					o.id = this.userManage.id2;
					o.userType = this.userManage.select;
					o.masterId = JSON.parse(sessionStorage.getItem('logins')).id;
					o.password = this.userManage.addMsg.pwd1;
					let that = this;
					$.ajax({
						url:config.url+'/users/user/'+1,
						type:'POST',
						data:{
							value:JSON.stringify(o)
						},
						success:function(e){
							if(e.object)
								that.$message({
									type:'success',
									message:'创建成功!'
								})
							else {
								that.$message({
									type:'error',
									message:'创建失败!'
								})
							}
						},error:function(e){
							that.$message({
								type:'error',
								message:'请求超时!'
							})
							return
						}
					})
				},
				menueClickHandlerEvent(e) {
					let that = this;
					this.menueManage.status = e;
					if (e == 1) {
						let o = JSON.parse(sessionStorage.getItem('logins'))
						$.ajax({
							type: 'GET',
							url: config.url + '/docs/docMsg/' + o.id,
							success: function(e) {
								let da = e.object;
								that.localManage.id1 = da.aiDocUnit;

								that.localManage.checkMsg = {
									name: da.aiDocName,
									sex: da.aiDocSex,
									age: da.aiDocAge,
									edu: da.aiDocEdu.replace(/,/g,'/'),
									marriage: da.aiDocMarriage,
									job: da.aiDocJob.replace(/,/g,'/'),
									office: da.aiDocOffice,
									'from': da.aiDocFrom,
									pwd1: '',
									pwd2: '',
								}
								that.localManage.addMsg = JSON.parse(JSON.stringify(that.localManage.checkMsg));
							}
						})
					}
				},
				changeUser() {
					let that = this;
					this.$Alert({
						text: [' 确认修改？']
					}).then(function() {
						if (that.menueManage.status == 0) {
							//修改用户信息
							let o = {
								aiUserId:that.userManage.id3,
								aiUserName:that.userManage.checkMsg.name,
								aiUserSex:that.userManage.checkMsg.sex,
								aiUserAge:that.userManage.checkMsg.age,
								aiUserEduBg:that.userManage.checkMsg.edu,
								aiUserFrom:that.userManage.checkMsg['from'],
								aiUserMarriage:that.userManage.checkMsg.marriage,
								aiUserOffice:that.userManage.checkMsg.office,
								aiUserProfession:that.userManage.checkMsg.job
							}
							$.ajax({
								type: 'PUT',
								url: config.url + '/users/Msg',
								data:{
									value:JSON.stringify(o)
								},
								success: function(e) {
									if (e) {
										that.$message({
											showClose: true,
											message: '修改成功！',
											type: 'success'
										})
									} else {
										that.$message({
											showClose: true,
											message: '修改用户信息失败',
											type: 'error'
										})
									}
								},
								error: function(e) {
									that.$message({
										showClose: true,
										message: '连接服务器出错！',
										type: 'error'
									})
								}
							})
						} else if (that.menueManage.status == 1) {
							//修改医生信息
							
							if(that.localManage.checkMsg.pwd1){
								if(!that.localManage.checkMsg.pwd2){
									that.$message({
										message:'请将密码填写完整！',
										type:'warning'
									})
									return
								}else if(that.localManage.checkMsg.pwd1!=that.localManage.checkMsg.pwd2){
									that.$message({
										message:'两次密码填写不一致！',
										type:'warning'
									})
									return
								}else if(that.localManage.checkMsg.pwd1.length<6){
									that.$message({
										message:'密码长度应不小于6位！',
										type:'warning'
									})
									return
								}else {
									$.ajax({
										type:'PUT',
										url:config.url + '/docs/password/'+that.localManage.checkMsg.pwd1+'/'+JSON.parse(sessionStorage.getItem('logins')).id,
										success:function(e){
											if(e.object){
												that.$message({
													showClose: true,
													message: '密码修改成功！',
													type: 'success'
												})
												that.localManage.checkMsg.pwd1 = '';
												that.localManage.checkMsg.pwd2 = '';
											}else{
												that.$message({
													showClose: true,
													message: '密码修改失败！',
													type: 'warning'
												})
											}
										},
										error:function(e){
											that.$message({
												showClose: true,
												message: '连接服务器出错！',
												type: 'error'
											})
										}
									})
								}
							}else if(that.localManage.checkMsg.pwd2){
								that.$message({
									message:'请将密码填写完整！',
									type:'warning'
								})
								return
							}
							var t = that.localManage.checkMsg;
							var o = {
								aiDocId: JSON.parse(sessionStorage.getItem('logins')).id,
								aiDocName: t.name,
								aiDocSex: t.sex,
								aiDocAge: t.age,
								aiDocEdu: t.edu.replace(/\//g,','),
								aiDocMarriage: t.marriage,
								aiDocJob: t.job.replace(/\//g,','),
								aiDocOffice: t.office,
								aiDocFrom: t['from']
							}
							
							$.ajax({
								type: 'PUT',
								url: config.url + '/docs/op/' + JSON.stringify(o),
								success: function(e) {
									if (e.object) {
										that.$message({
											showClose: true,
											message: '信息修改成功！',
											type: 'success'
										})
									} else {
										that.$message({
											showClose: true,
											message: '修改医生信息失败',
											type: 'error'
										})
									}
								},
								error: function(e) {
									that.$message({
										showClose: true,
										message: '连接服务器出错！',
										type: 'error'
									})
								}
							})
						}
					}).catch(() => {
						//do nothing
					})
				},
				remove() {
					let that = this;
					this.$Alert({
						text: [' 确认作废？']
					}).then(function() {
						$.ajax({
							url:config.url + '/users/status/'+that.userManage.id3+'/0',
							type:'PUT',
							success:function(e){
								$.ajax({
									type: 'GET',
									url: config.url + '/users/status/1/100',
									success: function(e) {
										that.tableList = e.object;
									}
								})
							},
							error:function(e){
								that.$message({
									type:'warning',
									message:'请求超时',
									showClose:true
								})
							}
						})
					}).catch(() => {
					})
				},
				viewMsg(index) {
					let that = this;
					if(index==null||index.length==0)
						return
					$.ajax({
						type: 'GET',
						url: config.url + '/users/msgForDoc/' + index,
						success: function(e) {
							let data = e.object;
							that.userManage.id3 = index;
							that.userManage.checkMsg.name = data.aiUserName;
							that.userManage.checkMsg.sex = data.aiUserSex;
							that.userManage.checkMsg.age = data.aiUserAge;
							that.userManage.checkMsg.edu = data.aiUserEduBg.replace(/,/g, '/')
							that.userManage.checkMsg.marriage = data.aiUserMarriage
							that.userManage.checkMsg.job = data.aiUserProfession.replace(/,/g, '/')
							that.userManage.checkMsg.office = data.aiUserOffice
							that.userManage.checkMsg['from'] = data.aiUserFrom
						}
					})
					this.userManage.status = 2
				}

			},
			created() {
			},
			mounted() {
				let that = this;
				$.ajax({
					type: 'GET',
					url: config.url + '/users/uuid/msgsForDoc/1/9',
					success: function(e) {
						//that.tableList = e.object
					}
				})

				$.ajax({
					type: 'GET',
					url: config.url + '/users/status/1/100',
					success: function(e) {
						that.tableList = e.object;
						that.total = e.o;
					}
				})


			}

		})
	</script>
</html>
